.products {
    padding: 20px 30px;
    width: 1400px;
}

.products h2 {
    font-size: 42px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 300;
    color: #010f1c;
}

.products .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    gap: 10px;
}

.products .container .filter {
    padding: 10px;
    width: 200px;
}

.products .container .filter .categories h3 {
    color: #010f1c;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.products .container .filter .categories ul {
    margin-top: 10px;
}

.products .container .filter .categories ul li {
    list-style: none;
    margin-top: 20px;
    color: #010f1c;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    border-radius: 10px;
}

.products .container .filter .categories ul li:hover {
    background-color: tomato;
    color: #fff;
}

.products_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}