.product-card {
    padding: 10px;
    width: 300px;
    height: 400px;
    border: 1px solid #e2e0e0;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
}

.product-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-card .img-box {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e2e0e0;
    height: 250px;
    position: relative;
}

.product-card .img-box img {
    width: 100%;
    height: 100%;
}

.product-card .img-box .icon {
    z-index: 1;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    transition: 0.5s;
}

.product-card .img-box .icon li {
    list-style: none;
    padding: 10px;
    background: #fff;
    color: #010f1c;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    transition: 0.3s;
}

.product-card .img-box .icon li:hover {
    background: #e8482c;
    color: #fff;
}

.product-card .detail {
    margin-top: 10px;
}

.product-card .detail p {
    color: #9a9a9a;
    font-size: 14px;
}

.product-card .detail h3 {
    font-size: 16px;
    margin-top: 5px;
    color: #010f1c;
    transition: 0.5s;
}

.product-card:hover .detail h3 {
    color: #e8482c;
}

.product-card .detail h4 {
    margin-top: 5px;
    font-size: 14px;
    color: #e8482c;
}

.like-tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    top: 142px;
    right: -50px;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1000;
  }
  